body {
    background-image: url("../css/images/concrete_seamless.png");
}
.nav-link, .about-header, .aboutme, .footer, #logo, .emailform, #github, #project1, #project2, #project3, #crystalcode, h2, #traincode, #psycode, .jumbotron {
    font-family: 'BenchNine', sans-serif;
}
.aboutme{
    font-size: 24px;
}
.nav-link {
    font-size: 21px;
}
#logo {
    font-size: 32px;
}
.about-header{
    font-size: 32px;
}
.navbar {
    margin: 15px;
}
.emailform {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    font-size: 20px;
}
#text, #tel, #message, #contact-submit {
    text-align: center;
    padding: 10px;
    width: 40%;
    border: 1px solid;
    margin: 0 0 2px;
}
#github {
   font-family: 'Alex Brush', cursive;
    text-align: center!important;
    font-size: 55px;
    color: black;
    text-shadow: 2px 1px;
}
 #crystalcode, #traincode, #psycode {
    font-size: 20px; 
 }
.text-muted {
    font-size: 19px;
}
h2{
    font-size: 18px;
}
a:hover{
    color: white;
    opacity: 0.5;
}
#githubimg:hover{
    color: white;
    opacity: 0.5;
}
.jumbotron {
    text-align: center!important;
    font-size: 55px;
    background-color: transparent;
}
